// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


header {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    flex-grow: 1;
    font-size: 60px;
    text-align: center;
  }
}

.list {
  cursor: pointer;
}
