// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.03);

  .box {
    margin: 0 50px;
    width: 100px;
  }

  .title {
    flex-grow: 1;
    font-size: 60px;
  }
}

#app {
  height: calc(100vh - 100px);
  background-color: #FFFFFF;

  .list {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .task {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
